<footer class="footer">
    <div class="footer-wrapper">
        <div class="copyright">
            <p><img [src]="logoSrc" [alt]="logoAlt" /></p>
        <p>copyright <fa-icon [icon]="copyright"></fa-icon> {{year}} | NBC NEWS</p>
         </div>
        <div class="privacy">
            <p><a href="##">Private Policy</a></p>
            <p><a href="##">Do not sell my personal info</a></p>
            <p><a href="##">Terms of Service</a></p>
            <p><a href="##">nbcnews.com Site Map</a></p>
        </div>
        <div class="social-links">
            <ul>
                <li><a href="http://##" >About</a></li>
                <li><a href="http://##" >Contact</a></li>
                <li><a href="http://##" >Careers</a></li>
                <li><a href="http://##" >Coupons</a></li>
            </ul>
            <ul>
                <li><a href="http://##" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="RssFeed"></fa-icon>
                    </a> </li>
                <li><a href="http://##" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="twitter"></fa-icon>
                    </a></li>
                <li><a href="http://##" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="reddit"></fa-icon>
                    </a></li>
                <li><a href="http://##" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="facebook"></fa-icon>
                    </a></li>
            </ul>
        </div>
    </div>
</footer>






<footer class="footer-mobile">
    <div class="footer-wrapper-mobile">
        <div>
            <p><img [src]="logoSrc" [alt]="logoAlt" /></p>
        </div>
        <div>
            <div>
                <p><a href="##">Private Policy</a></p>
                <p><a href="##">Do not sell my personal info</a></p>
                <p><a href="##">Terms of Service</a></p>
                <p><a href="##">nbcnews.com Site Map</a></p>
            </div>
            <ul>
                <li><a href="##" target="_blank" rel="noopener noreferrer">About</a></li>
                <li><a href="##" target="_blank" rel="noopener noreferrer">Contact</a></li>
                <li><a href="##" target="_blank" rel="noopener noreferrer">Careers</a></li>
                <li><a href="##" target="_blank" rel="noopener noreferrer">Coupons</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="http://##" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="RssFeed"></fa-icon>
                    </a> </li>
                <li><a href="http://##" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="twitter"></fa-icon>
                    </a></li>
                <li><a href="http://##" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="reddit"></fa-icon>
                    </a></li>
                <li><a href="http://##" target="_blank" rel="noopener noreferrer">
                        <fa-icon [icon]="facebook"></fa-icon>
                    </a></li>
            </ul>
        </div>
        <div>
            
            <p>copyright <fa-icon [icon]="copyright"></fa-icon> {{year}} | NBC NEWS</p>
             </div>
    </div>
</footer>
